/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f7f7f7;
}

/* Cabecera */
.header-section {
    text-align: center;    
    background-color: #f7f7f7;
    margin-bottom: -20px;
}

.header-image {
    max-width: 15%;
    height: auto;
    border-radius: 8px;
}

.header-section h2 {
    font-size: 2em;
    margin-top: 10px;
    color: #333;
}

/* Estilos de la sección de contacto */
.contact-section {
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título del formulario */
.contact-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos de los campos de formulario */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000; /* Cambiado a negro para mejor contraste */
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
    color: #333; /* Texto oscuro para contraste */
    background-color: #ffffff; /* Fondo blanco */
}

.form-control:focus {
    border-color: #d48e0c;
    outline: none;
    box-shadow: 0 0 8px rgba(212, 142, 12, 0.3);
}

/* Botón de envío */
.btn-orange {
    display: inline-block;
    background-color: #b35900; /* Naranja oscuro para mayor contraste */
    color: #ffffff; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
}

.btn-orange:hover {
    background-color: #8a4600; /* Más oscuro al pasar el cursor */
}

/* Estilos para el icono de Home */
.footer-home {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer-home a {
    color: #d48e0c; /* Naranja oscuro */
    font-size: 3em;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-home a:hover {
    color: #b86b00; /* Más oscuro al pasar el cursor */
}
